:root {
  --color-iris: #4d5ae5;
  --color-ocean: #404bbf;
  --color-navy-blue: #2e2f42;
  --color-green: #31d0aa;
  --color-slate: #434455;
  --color-light-slate: #8e8f99;
  --color-cornflower: #e7e9fc;
  --color-cloud: #f4f4fd;
  --color-navy-blue-modal: #2e2f42;
  --color-grey: #2e2f42;
  --color-white: #ffffff;
  --color-dairy: #fcfcfc;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--color-slate);
  background-color: var(--color-white);
  font-size: 16px;
  letter-spacing: 0.02em;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

input,
textarea,
button {
  font: inherit;
}

button {
  cursor: pointer;
  color: currentColor;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  outline: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Page Studio */

.header {
  border-bottom: 1px solid var(--color-cornflower);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-nav__logo-blue {
  color: var(--color-iris);
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-block;
  margin-right: 76px;
}

.header-nav__logo-black {
  color: var(--color-navy-blue);
}

.header-nav__list {
  display: flex;
  gap: 40px;
}

.header-nav__link {
  color: var(--color-navy-blue);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  padding-top: 24px;
  padding-bottom: 24px;
  position: relative;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav__link:hover,
.header-nav__link:focus {
  color: var(--color-ocean);
}

.header-nav__link.current {
  color: var(--color-ocean);
}

.header-nav__link.current::after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--color-ocean);
  position: absolute;
  bottom: -1px;
  left: 0;
}

.header-contacts {
  font-style: normal;
  margin-left: auto;
}

.header-contacts__list {
  display: flex;
  gap: 40px;
}

.header-contacts__link {
  color: var(--color-slate);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  display: inline-block;
  padding-top: 24px;
  padding-bottom: 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts__link:hover,
.header-contacts__link:focus {
  color: var(--color-ocean);
}

.hero {
  background-color: var(--color-navy-blue);
  padding: 188px 0;
}

.hero__bg-image {
  margin: 0 auto;
  max-width: 1440px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url('../images/img-name.jpg');
}

.hero__title {
  color: var(--color-white);
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  max-width: 496px;
  text-align: center;
  margin: 0 auto 48px;
}

.hero__button {
  color: var(--color-white);
  background-color: var(--color-iris);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  border-radius: 4px;
  padding: 16px 32px 16px 32px;
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  display: block;
  margin: 0 auto;
  min-width: 169px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__button:hover,
.hero__button:focus {
  background-color: var(--color-ocean);
}

.company {
  padding: 120px 0;
}

.company__list {
  display: flex;
  gap: 24px;
}

.company__item {
  width: 264px;
}

.company__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  border-radius: 4px;
  background-color: var(--color-cloud);
  margin-bottom: 8px;
}

.company__title {
  color: var(--color-navy-blue);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.company__text {
  color: var(--color-slate);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

.works {
  padding-bottom: 120px;
}

.works__title {
  color: var(--color-navy-blue);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.works__list {
  display: flex;
  gap: 24px;
}

.team {
  background-color: var(--color-cloud);
  padding: 120px 0;
}

.team__title {
  color: var(--color-navy-blue);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team__list {
  background-color: var(--color-cloud);
  display: flex;
  gap: 24px;
}

.team__item {
  background-color: var(--color-white);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.team__wrapper {
  padding: 32px 0;
}

.team__specialist {
  color: var(--color-navy-blue);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.team__job-title {
  color: var(--color-slate);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 8px;
}

.team__list-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.team__item-icon {
  width: 40px;
  height: 40px;
}

.team__link-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--color-iris);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team__link-icon:hover,
.team__link-icon:focus {
  background-color: var(--color-ocean);
}

.team__icon {
  fill: var(--color-cloud);
}

.customers {
  padding: 120px 0;
}

.customers__title {
  color: var(--color-navy-blue);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
}

.customers__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.customers__item {
  width: 168px;
  height: 88px;
}

.customers__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: var(--color-light-slate);
  border-radius: 4px;
  border: 1px solid var(--color-light-slate);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: currentColor;
}

.customers__link:hover,
.customers__link:focus {
  color: var(--color-ocean);
  border-color: var(--color-ocean);
  fill: var(--color-ocean);
}

.footer {
  background-color: var(--color-navy-blue);
  padding: 100px 0;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer__logo-wrapper {
  width: 264px;
  margin-right: 120px;
}

.footer__logo-blue {
  color: var(--color-iris);
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 16px;
}

.footer__logo-white {
  color: var(--color-cloud);
}

.footer__text {
  color: var(--color-cloud);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  width: 264px;
}

.footer__icon-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-white);
  margin-bottom: 16px;
}

.footer__icon-list {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 16px;
}

.footer__icon-item {
  width: 40px;
  height: 40px;
}

.footer__icon-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  background-color: var(--color-iris);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__icon {
  fill: var(--color-cloud);
}

.footer__icon-link:hover,
.footer__icon-link:focus {
  background-color: var(--color-green);
}

.footer__subscribe-wrapper {
  margin-left: 80px;
}

.footer__subscribe-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-white);
  margin-bottom: 16px;
}

.footer__subscribe-form {
  display: flex;
  gap: 24px;
}

.footer__subscribe-label {
}

.footer__subscribe-input {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color-white);
  background-color: transparent;
  min-width: 264px;
  min-height: 40px;
  flex-shrink: 0;
  padding-left: 16px;
  border-radius: 4px;
  border: 1px solid var(--color-white);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  outline: none;
}

.footer__subscribe-input::placeholder {
  color: var(--color-white);
}

.footer__subscribe-button {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color-white);
  background-color: var(--color-iris);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 40px;
  min-width: 165px;
  padding: 8px 24px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__subscribe-button:hover,
.footer__subscribe-button:focus {
  background-color: var(--color-ocean);
}

.footer__subscribe-icon {
  fill: var(--color-white);
  margin-left: 16px;
}

/* Page Portfolio */

.gallery {
  padding: 96px 0 120px;
}

.gallery-filter__list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.gallery-filter__button {
  color: var(--color-iris);
  background-color: var(--color-cloud);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  border: 1px solid var(--color-cornflower);
  border-radius: 4px;
  padding: 12px 24px 12px 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery-filter__button:hover,
.gallery-filter__button:focus {
  color: var(--color-white);
  background-color: var(--color-ocean);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
  border: 1px solid transparent;
}

.gallery__list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.gallery__link {
  cursor: pointer;
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery__link:hover,
.gallery__link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.gallery__link:hover .gallery__overley-text,
.gallery__link:focus .gallery__overley-text {
  transform: translateY(0);
}

.gallery__overley-wrapper {
  position: relative;
  overflow: hidden;
}

.gallery__overley-text {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  padding: 40px 32px;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  background-color: var(--color-iris);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--color-cloud);
}

.gallery__wrapper {
  border: 1px solid var(--color-cornflower);
  border-top: none;
  padding: 32px 16px;
}

.gallery__title {
  color: var(--color-navy-blue);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.gallery__text {
  color: var(--color-slate);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* Modal Window */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 408px;
  min-height: 584px;
  border-radius: 4px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  background-color: var(--color-dairy);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  padding: 72px 24px 24px 24px;
}

.modal__button-close {
  padding: 0;
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--color-cornflower);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button-close:hover,
.modal__button-close:focus {
  background-color: var(--color-ocean);
  border: none;
  fill: var(--color-white);
}

.modal__icon-close {
  fill: var(--color-navy-blue);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button-close:hover .modal__icon-close,
.modal__button-close:focus .modal__icon-close {
  fill: var(--color-white);
}

.modal__title {
  color: var(--color-navy-blue);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  text-align: center;
  margin-bottom: 16px;
  display: block;
}

.modal__wrapper {
  margin-bottom: 8px;
}

.modal__label {
  color: var(--color-light-slate);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  display: block;
  margin-bottom: 4px;
}

.modal__icon-wrapper {
  position: relative;
}

.modal__input {
  width: 100%;
  height: 40px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__input:focus {
  border-color: var(--color-iris);
}

.modal__input:focus + .modal__icon {
  fill: var(--color-iris);
}

.modal__icon {
  fill: var(--color-navy-blue);
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__text-field-wrapper {
  margin-bottom: 16px;
}

.modal__text-field {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  width: 100%;
  min-height: 120px;
  padding: 8px 16px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
}

.modal__text-field::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

.modal__text-field:focus {
  border-color: var(--color-iris);
}

.modal__check-wrapper {
  margin-bottom: 24px;
}

.modal__check-input:checked + .modal__check-text .modal__check-box {
  background-color: var(--color-ocean);
  border: none;
  fill: var(--color-cloud);
}

.modal__check-text {
  color: var(--color-light-slate);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.modal__check-box {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  margin-right: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__link-text {
  margin-left: 4px;
  color: var(--color-iris);
  text-decoration: underline;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__link-text:hover,
.modal__link-text:focus {
  color: var(--color-ocean);
}

.modal__button-submit {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  background-color: var(--color-iris);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 16px 32px;
  margin: 0 auto;
  display: block;
  color: var(--color-white);
  text-align: center;
  border: none;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button-submit:hover,
.modal__button-submit:focus {
  background-color: var(--color-ocean);
}
